
    {{# if admin}}
      {{# if home}}
        {{> adminheader}}
      {{/if}}
      {{# if login}}
      {{> loginheader}}
      {{/if}}
    {{else}}
      {{> header}}
    {{/if}}
    

      {{{body}}}
    {{# if admin}}
      {{# if login}}
        {{> loginfooter}}
      {{/if}}
      {{# if home}}
        {{> adminfooter}}
      {{/if}}
    {{else}}
        {{> footer}}
    {{/if}}
  </body>
</html>
