<h3 style="text-align:center;">Dự án nổi bật</h3>
<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <div id="success" class="alert alert-success {{# if noMessages}}hidden{{/if}}">
      {{ successMsg }}
    </div>
  </div>
</div>
{{# each products}}
  <div class="row">
    {{# each this}}
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail thumbnail_pro clearfix">
        <img src="{{ this.imagePath }}" alt="Game Win">
        <div class="caption div_caption">
          <div class="clearfix">
            <a href="#" class="btn btn-primary a_pro xemchitiet" role="button">Xem chi tiết</a>
            <a href="/add-to-cart/{{this._id}}" class="btn btn-success a_pro xemdemo" role="button">Xem demo</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
{{/each}}



